.statistics {
  width: 350px;
  height: 120px;
  margin: auto;
  margin-bottom: 20px;
  background-color: rgb(255, 246, 221);
  border: 1px solid #ccc;
  box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.2);
  padding: 20px;
  border-radius: 8px;
}

.title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
}

.stat {
  display: flex;
  justify-content: center;
}

.item {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 8px;
  background-color: #fff;
  border: 1px solid #ccc;
}

.label,
.percentage {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 5px;
}

.label {
  background-color: #007bff;
  color: #fff;
}

.percentage {
  text-align: center;
  /* background-color: #ccc; */
  color: #333;
}
